version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
      time: "05:00"
      timezone: "Asia/Tokyo"
    groups:
      dependencies-patch:
        patterns:
          - "*"
        update-types:
          - "patch"
      dependencies-minor:
        patterns:
          - "*"
        update-types:
          - "minor"
      dependencies-major:
        patterns:
          - "*"
        update-types:
          - "major"
