*.js
!jest.config.js
!prettier.config.js
*.d.ts
node_modules
dist/
*.tsbuildinfo

# CDK asset staging directory
.cdk.staging
cdk.out

# jest
coverage

# env
*.env*

# mock
lib/src/gateway/mockData/*

# typedoc
docs

# volume配下のファイル
volume/*
