name = "my-d1-project"
main = "src/index.ts"
compatibility_date = "2024-09-23"

compatibility_flags = ["nodejs_compat"]

[[d1_databases]]
binding = "DB"
database_name = "my-database"
database_id = "${DB_ID}"

# D1データベースバインディング
[[env.production.d1_databases]]
binding = "DB"
database_name = "my-database"
database_id = "adacd8e1-0314-44ac-a403-1cbdb46978b7"

[env.development]

[[env.development.d1_databases]]
binding = "DB"
database_name = "my-database"
database_id = "${DB_ID}"

[env.test]

[[env.test.d1_databases]]
binding = "DB"
database_name = "my-database"
database_id = "${DB_ID}"
