name = "race-schedule-api"
main = "src/index.ts"
compatibility_date = "2024-09-23"

compatibility_flags = ["nodejs_compat"]

[[d1_databases]]
binding = "DB"
database_name = "my-database"
database_id = "adacd8e1-0314-44ac-a403-1cbdb46978b7"

[env.development]
# local dev variables
[env.development.vars]
NODE_ENV = "local"

[[env.development.d1_databases]]
binding = "DB"
database_name = "my-database"
database_id = "adacd8e1-0314-44ac-a403-1cbdb46978b7"

[env.test]
# test environment variables
[env.test.vars]
NODE_ENV = "test"

[[env.test.d1_databases]]
binding = "DB"
database_name = "my-database"
database_id = "adacd8e1-0314-44ac-a403-1cbdb46978b7"

[env.production]
# production environment variables
[env.production.vars]
NODE_ENV = "production"

[[env.production.d1_databases]]
binding = "DB"
database_name = "my-database"
database_id = "adacd8e1-0314-44ac-a403-1cbdb46978b7"
