name = "race-schedule"
main = "src/index.ts"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]

name = "race-schedule-api"
main = "src/index.ts"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]

[env.production]
name = "race-schedule-api-prod"

[env.test]
name = "race-schedule-api-test"
