name = "race-schedule"
main = "src/index.ts"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]

[[d1_databases]]
binding = "DB"
database_name = "race-schedule-db"
database_id = "preview"
migrations_dir = "../db/migrations"

[env.production]
# 本番環境用のワーカー名を明示
name = "race-schedule-prod"

[env.test]
# テスト環境用のワーカー名を明示
name = "race-schedule-test"
# ENVなどの値はGitHub Actionsのsecretで管理してください
# 例: ENV = "${ENV}"
