name = "race-schedule"
main = "src/index.ts"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]

[[d1_databases]]
binding = "DB"
database_name = "race-schedule-db"
database_id = "preview"
migrations_dir = "../db/migrations"

[env.production]
# 本番環境用のワーカー名を明示
name = "race-schedule-prod"

[[env.production.d1_databases]]
binding = "DB"
database_name = "race_schedule_db_prod"
database_id = "853210d9-7b32-4895-9341-2918db1fc81f"
migrations_dir = "../db/migrations"

[env.test]
# テスト環境用のワーカー名を明示
name = "race-schedule-test"
# ENVなどの値はGitHub Actionsのsecretで管理してください
# 例: ENV = ""

[[env.test.d1_databases]]
binding = "DB"
database_name = "race_schedule_db_test"
database_id = "aa5941fc-bad2-4295-ab8f-907117925324"
migrations_dir = "../db/migrations"
